.store-wrapper{
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
  border: 2px solid #333;
  box-shadow: 10px 10px #333;
  display: flex;
  flex-direction: column;
  *{
    margin: 0;
  }
  h3{
    font-size: 1.3rem;
  }
  img{
    width: clamp(200px, 400px, 100%);
  }
}

.selected-label{
  background-color: #111;
  color: #fff;
  padding: 1rem;
  border-radius: 1rem 1rem 0 0 ;
  font-weight: 500;
}

.store-info-wrapper{
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2.5rem;
}

.list-label{
  background-color: var(--primary-700);
  color: #fff;
  padding: 1rem;
  font-weight: 500;
}

.store-item-picker-form{
  border-radius: 0.5rem;
}

.form-field-full-width {
  width: 100%;
}

.working-list-wrapper{
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
  border: 2px solid #333;
  box-shadow: 10px 10px #333;
  padding: 2rem;
  height: 100%;
}

.selected-list-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  h3{
    margin: 0;
  }
}

.selected-item-list{
  list-style-type: none;
  padding: 0;
  li{
    background-color:lemonchiffon;
    border-radius: 1rem;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:not(:first-child){
      margin-top: 0.5rem;
    }
    &.is-being-edited{
      background-color: #f2f2f2;
      color: #999;
    }
  }
}

form{
  button > .mat-icon{
    margin-right: 6px
  }
}

::ng-deep .backdrop{
  background-color: rgba(0, 0, 0, 0.8);
}
