<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4">
        <div class="store-wrapper">
          <div class="store-info-wrapper">
            <div>
              <img class="mb-3" src="https://s29.q4cdn.com/239956855/files/doc_downloads/mediaAssets/safeway/1-Swy_Horiz_CMYK.png" alt="">
              <h3>
                430 SE Bishop Blvd, Pullman, WA 99163
              </h3>
            </div>
          </div>
          <div class="list-label">
            <p class="fs-5 m-0 p-0">
              Add an item to your list:
            </p>
          </div>
          <div class="submit-form-wrapper">
            <form [formGroup]="shoppingForm" class="store-item-picker-form p-4" (ngSubmit)="onSubmit()"  #formElement="ngForm">
              <mat-form-field class="form-field-full-width">
                <mat-label>What are you shopping for?</mat-label>
                <input type="text"
                placeholder="Pick one"
                aria-label="Where are you shopping?"
                matInput
                formControlName="item"
                name="item"
                [matAutocomplete]="auto"
                [(ngModel)]="searchInput"
                (input)="updateResults()"
                required>
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displaySelectedItem">
                   @for (storeItem of storeItemsResults; track storeItem) {
                    <mat-option [value]="storeItem">
                      <div class="row store-selection-wrapper">
                        <div class="col-12">
                          <strong>{{storeItem.item_name}}</strong> <!--(aisle: {{ storeItem.item_aisle}})-->
                        </div>
                      </div>
                    </mat-option>
                  }
                </mat-autocomplete>
                <mat-error *ngIf="shoppingForm.get('item')?.hasError('required') && (shoppingForm.get('item')?.touched || shoppingForm.get('item')?.dirty)">
                  Item is required
                </mat-error>
              </mat-form-field>
              <mat-form-field class="form-field-full-width">
                <mat-label>Quantity and/or size</mat-label>
                <input matInput formControlName="quantity" required>
                <mat-error *ngIf="shoppingForm.get('quantity')?.hasError('required') && (shoppingForm.get('quantity')?.touched || shoppingForm.get('quantity')?.dirty)">
                  Quantity/size is required
                </mat-error>
              </mat-form-field>
              <mat-form-field class="form-field-full-width">
                <mat-label>Notes</mat-label>
                <textarea matInput formControlName="notes"></textarea>
              </mat-form-field>
              <button mat-fab extended color="primary" type="submit" [disabled]="shoppingForm.invalid" *ngIf="!isEditing()">
                <mat-icon>add_box</mat-icon>
                Add item
              </button>
              <button mat-fab extended class="me-2" color="primary" type="button" [disabled]="shoppingForm.invalid" *ngIf="isEditing()" (click)="updateItem()">
                <mat-icon>sync</mat-icon>
                Update item
              </button>
              <button mat-fab extended color="accent" type="button" [disabled]="shoppingForm.invalid" *ngIf="isEditing()" (click)="cancelUpdate()">
                <mat-icon>cancel</mat-icon>
                Cancel item
              </button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-8">
        <div class="working-list-wrapper">
          <div class="selected-list-header">
            <h3>
              Your list:
            </h3>
            <button mat-fab extended color="primary" type="button" [disabled]="selectedItems.length === 0" (click)="finalizeList()">
              <mat-icon>data_saver_on</mat-icon>
              Finalize list
            </button>
          </div>
          <hr>
          <ul class="selected-item-list">
            <li *ngFor="let selectedItem of selectedItems; let i = index" [ngClass]="{'is-being-edited': isEditing()}">
              <div class="in-list-item-details">
                <p class="mb-2">
                  <strong>{{selectedItem.item.item_name}}</strong> ({{selectedItem.quantity}})<br />
                  <!-- (Aisle: {{selectedItem.item.item_aisle}})<br /> -->
                </p>                                
                <p *ngIf="selectedItem.notes" class="d-flex align-items-center mb-0">
                  <mat-icon class="me-2">notes</mat-icon>
                  <span class="fst-italic">{{selectedItem.notes}}</span>
                </p>
              </div>
              <div class="in-list-item-actions">
                <button mat-mini-fab aria-label="edit item" color="primary" class="me-2" [disabled]="isEditing()" (click)="setFormUpdateItem(selectedItem, i)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-mini-fab aria-label="delete item" color="accent" [disabled]="isEditing()" (click)="deleteItem(selectedItem)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
