<mat-toolbar>
  <!-- Desktop Navigation -->
  <div class="desktop-nav" *ngIf="!(isHandset$ | async)">
    <div class="site-logo">
      <a href="/">
        <img class="me-2" src="simple-logo-gray.png" alt="">
      </a>
      <a href="/">
        <span class="site-title">Cartographer</span>
      </a>
    </div>
    <div class="nav-options" *ngIf="activeSession">
      <a mat-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      <a mat-button routerLink="/create-list" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Create List</a>
      <a mat-button routerLink="/my-lists" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">My Lists</a>
      <a mat-button routerLink="/admin" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Admin</a>
    </div>
    <div>
      <div>
        <button *ngIf="activeSession" mat-icon-button matTooltip="Logout" (click)="logout()">
          <mat-icon>logout</mat-icon>
        </button>
        <a *ngIf="!activeSession" mat-button [routerLink]="'/login'" class="login-link">
          <mat-icon>login</mat-icon>
          Login / Sign Up
        </a>
      </div>
    </div>
  </div>
</mat-toolbar>
<!-- Responsive spacer -->
<span class="spacer"></span>
