*{
  font-family: 'cartoon', sans-serif;
  color: var(--bs-body-color);
}

.site-title {
  font-size: 2rem;
  font-weight: 500;
  margin-right: 2rem;
  letter-spacing: 0.5px;
}

img{
  max-height: 40px;
}

.desktop-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
}

.nav-options{
  display: flex;
  gap: 1rem;
}

.site-logo{
  display: flex;
  align-items: center;
  justify-content: center;
  a{
    text-decoration: none;
    color: inherit;
  }
}

.spacer {
  flex: 1 1 auto;
}

.active {
  border: 2px solid #333;
}

.sidenav-container {
  height: calc(100vh - 64px);
  margin-top: 64px;
}

.sidenav {
  width: 250px;
}

@media (max-width: 599px) {
  .sidenav-container {
    height: calc(100vh - 56px);
    margin-top: 56px;
  }
}

.mat-toolbar{
  background-color: rgba(0,0,0,0);
  padding: 1rem 5rem;
  height: fit-content
}

.mat-mdc-button{
  border-radius: 0;
}

.mat-mdc-button:not(:disabled) {
  color: var(--bs-body-color);
}
