.shopping-lists-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  > div{
    background-color: rgba(255, 255, 255, 0.85);
    padding: 2rem;
    border-radius: 0.25em;
    //width: clamp(500px, 65%, 100%);
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.list-wrapper{
  background-color: #FFFFF0;
  width: fit-content;
  min-width: 200px;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  display: grid;
  place-items: center;
  transition: filter 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 2px 2px 6px #333;
  &:hover{
    filter: brightness(90%);
    box-shadow: 2px 2px 8px #333;
  }
  a{
    color: #000;
    text-decoration: none;
    padding: 1rem 2rem;
    text-align: center;
  }
  div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  img{
    height: clamp(20px, 40px, 200px);
  }
}
