<div class="shopping-lists-wrapper">
  <div>
    <h2 class="mb-3">Your Shopping Lists</h2>
    <div *ngIf="loading"><mat-spinner></mat-spinner></div>
    <div *ngIf="error">{{ error }}</div>
    <div *ngIf="!loading && shoppingLists.length === 0">No lists found.</div>
    <div *ngFor="let list of shoppingLists; let i = index" class="list-wrapper">
      <a href="/list/{{ list.list_id }}">
        <img src="{{ list.store_logo }}" alt="{{ list.store_name }}" />
        <!-- <div>
          <p class="m-2">
            {{list.store_address}}
          </p>
        </div> -->
        <p>
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="calendar_month"
          ></mat-icon>
          {{ normalizeDate(list.created_at) | date : "fullDate" }}
        </p>
        <p>
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="person"
          ></mat-icon>
          {{ list.created_by_name }}
        </p>
        <p class="position-marker">
          #{{i + 1}}
        </p>    
      </a>
    </div>
  </div>
</div>
