.shopping-lists-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--bs-body-color);
  > div{
    background-color: rgba(255, 255, 255, 0.85);
    padding: 2rem;
    //width: clamp(500px, 65%, 100%);
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 4px;
    border: 2px solid #333;
    box-shadow: 10px 10px #333;
  }
}

.list-wrapper{
  width: 100%;
  min-width: 200px;
  border-radius: 4px;
  margin-bottom: 1rem;
  display: grid;
  place-items: center;
  transition: box-shadow 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
  border: 1px solid var(--primary-500);
  box-shadow: 3px 3px var(--primary-500);
  background-color: rgba(255, 255, 255, 0.85);
  position: relative;
  &:hover{
    box-shadow: none;
    background-color: var(--primary-50);
    transform: translate(3px, 3px);
  }
  a{
    text-decoration: none;
    padding: 1rem 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    color: inherit;
  }
  p{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin: 0;
    &.position-marker{
      position: absolute;
      top: 5px;
      left: 5px;
    }
  }
  div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  img{
    height: clamp(20px, 40px, 200px);
  }
}
