<div class="backdrop">
  <h2>
    You&rsquo;re done!
  </h2>
  <p>
    What would you like to do with this list?
  </p>
  <div class="action-wrapper">
    <button mat-fab extended color="primary" type="button" (click)="close()">
      <mat-icon>arrow_back</mat-icon>
      Go back
    </button>
    <button mat-fab extended color="accent" type="button" (click)="deleteList()">
      <mat-icon>delete</mat-icon>
      Delete
    </button>
  </div>  
</div>
<div class="confetti-container">
  <div 
    class="confetti" 
    *ngFor="let x of [].constructor(10); let i = index"
    [style.--i]="i"
  ></div>
</div>
