section{
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  //border-bottom: 1px solid #666;
  margin-bottom: 2rem;
}

.item-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: cornsilk;
  border-radius: 0.5rem;
  padding: 0.75rem 1.5rem;
  &:hover{
    .in-list-item-actions{
      visibility: visible;
    }
  }
}

.actions-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  mat-form-field{
    width: clamp(250px, 650px, 100%);
  }
}

.store-item-picker-form{
  background-color: ghostwhite;
  border-radius: 0.5rem;
}

.form-field-full-width {
  width: 100%;
}

.in-list-item-actions{
  visibility: hidden;
  button{
    width: 36px;
    height: 36px;
    > mat-icon {
      font-size: 24px;
    }
  }
}

::ng-deep .backdrop{
  background-color: rgba(0, 0, 0, 0.8);
}
