section{
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  font-size: 2rem;
  margin-bottom: 2rem;
}

h2{
  font-size: 1.5rem;
}

.submit-form-wrapper, .catalog-wrapper{
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
  border: 2px solid #333;
  box-shadow: 10px 10px #333;
}

mat-divider{
  width: 100%;
  border-top-width: 4px;
}

.form-header{
  background-color: var(--primary-700);
  color: #fff;
  padding: 1rem;
  font-weight: 500;
}

.item-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-50);
  border-radius: 0.5rem;
  padding: 0.75rem 1.5rem;
  &:hover{
    .in-list-item-actions{
      visibility: visible;
    }
  }
}

.actions-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  mat-form-field{
    width: clamp(250px, 650px, 100%);
  }
}

.store-item-picker-form{
  background-color: ghostwhite;
  border-radius: 0.5rem;
}

.form-field-full-width {
  width: 100%;
}

.in-list-item-actions{
  visibility: hidden;
  button{
    width: 36px;
    height: 36px;
    > mat-icon {
      font-size: 24px;
    }
  }
}

::ng-deep .backdrop{
  background-color: rgba(0, 0, 0, 0.8);
}
