<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h1>
          Admin dashboard:
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h2>
          Safeway inventory catalogue:
        </h2>
        <input type="text">
        <button mat-mini-fab aria-label="edit item" color="primary" class="add-button" (click)="addItem()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12">
        <div class="item-wrapper mb-2" *ngFor="let item of storeItems; let i = index">
          <div>
            <div>
              <strong>{{ item.item_name }}</strong> ({{ item.item_aisle }})
            </div>
          </div>
          <div class="in-list-item-actions">
            <button mat-mini-fab aria-label="edit item" color="primary" class="me-2" (click)="editItem()">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-mini-fab aria-label="delete item" (click)="deleteItem()">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
