.page-wrapper{
  padding: 5rem;
  display: grid;
  place-content: center;
}

mat-card{
  padding: 2rem;
  width: clamp(400px, 550px, 1200px);
  background-color: rgba(255, 255, 255, 0.9);
  border: 2px solid #333;
  box-shadow: 10px 10px #333;
}

button{
  width: 100%;
}
