<form [formGroup]="loginForm" (ngSubmit)="login()">
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" type="email" required>
    <mat-error *ngIf="loginForm.get('email')?.invalid">Invalid email</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput formControlName="password" type="password" required>
    <mat-error *ngIf="loginForm.get('password')?.invalid">Password is required</mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Login</button>
</form>
