html,body{
  height: 100%;
}

.site-wrapper{
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url('/pullman-hero.png');
  // background-image: url('/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

main{
  flex: 1;
  // overflow-y: auto;
  padding: 5rem;
}

header,
footer {
  flex-shrink: 0;
}

@media (max-width: 1100px) {
  main{
    padding: 1rem;
  }
  // .site-wrapper{
  //   background-position: right;
  // }
}