.backdrop{
  background-color: #fff;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 4px solid var(--primary-200);
  border-radius: 4px;
}

.form-field-full-width {
  width: 100%;
}
