.store-picker-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.form-field-full-width {
  width: 100%;
}

.page-wrapper{
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.create-list{
  display: grid;
  place-items: center;
  visibility: hidden;
  &.showing{
    visibility: inherit;
  }
}

.store-selection-wrapper{
  padding: 1rem;
  img{
    width: auto;
    max-width: 100%;
    max-height: 50px;
  }

  > div:first-child{
    width: clamp(40px, 100px, 200px);
  }

  > div:nth-child(2){
    flex-grow: 1;
  }
}
