<div class="page-wrapper">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Where are you shopping?</mat-label>
      <input type="text"
             placeholder="Pick one"
             aria-label="Where are you shopping?"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        @for (store of filteredOptions | async; track store) {
          <mat-option [value]="store.storeGUID">
            <div class="row store-selection-wrapper">
              <div class="col-4">
                <img src="{{store.storeLogo}}" alt="{{store.storeName}}">
              </div>
              <div class="col-8">
                <strong>{{store.storeName}}</strong><br />
                {{store.storeLocationStreet}}, {{store.storeLocationTown}}, {{store.storeLocationState}}
              </div>
            </div>
          </mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
    @if (myControl.value) {
      <div class="create-list">
        <button mat-fab extended>
          <mat-icon>add_shopping_cart</mat-icon>
          Create list
        </button>
      </div>
    }
  </form>
</div>
