.store-picker-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.form-field-full-width {
  width: 100%;
}

.page-wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  > div {
      display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.25rem;
  }
}

.home-half{
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-wrapper{
  display: flex;
  justify-content: center;
  align-items: right;
}

.header-wrapper{
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.85);
  border: 1px solid #000;
  box-shadow: 10px 10px #333;
  h1{
    font-weight: bold;
  }
  p{
    font-size: 1.25rem;
  }
  a{
    width: fit-content;
  }
}

.create-list{
  display: grid;
  place-items: center;
  visibility: hidden;
  &.showing{
    visibility: inherit;
  }
}

.store-selection-wrapper{
  padding: 1rem;
  img{
    width: auto;
    max-width: 100%;
    max-height: 50px;
  }

  > div:first-child{
    width: clamp(40px, 100px, 200px);
  }

  > div:nth-child(2){
    flex-grow: 1;
  }
}

img{
  width: clamp(200px, 450px, 100%);
}
