img{
  max-height: 50px;
}

.list-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: clamp(500px, 65%, 100%);
  background-color: rgba(255, 255, 255, 0.85);
  padding: 2rem;
  border-radius: 0.25em;
}

.back{
  text-align: left;
  width: 100%;
}

.list-metadata{
  display: flex;
  align-items: center;
  gap: 1rem;
  > div{
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

.item-section{
  width: 100%;
  .aisle-header{
    background-color: beige;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    display: flex;
    h3{
      margin: 0.5rem 0 0 0;
    }
  }
  .items-wrapper{
    font-size: 1.2rem;
    ul{
      padding: 1rem;
      list-style-type: none;
    }
    &:hover{
      cursor: pointer;
    }
  }
}

.spinner{
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-divider{
  width: 100%;
  color: #505050;
  border-top-width: 4px;
}
