img{
  max-height: 50px;
}

.list-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: clamp(500px, 65%, 100%);
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
  border: 2px solid #333;
  box-shadow: 10px 10px #333;
}

.back{
  text-align: left;
  width: 100%;
}

.list-metadata{
  display: flex;
  align-items: center;
  gap: 1rem;
  > div{
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

.item-section{
  width: 100%;
  .aisle-header{
    background-color: var(--primary-500);
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    display: flex;
    h3{
      margin: 0.5rem 0 0 0;
    }
  }
  .items-wrapper{
    font-size: 1.2rem;
    ul{
      padding-left: 0;
      list-style-type: none;
      margin-top: 1rem;
      li{
        text-decoration: none;
        font-weight: bold;
        padding: 1rem;
        margin-bottom: 0.5rem;
        border: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        &.completed{
          text-decoration: line-through;
          text-decoration-color: red;
          text-decoration-thickness: 3px;
          font-weight: normal;
          border: none;
        }
        &:hover{
          cursor: pointer;
        }
      }
    }

  }
}

.spinner{
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-divider{
  width: 100%;
  color: #505050;
  border-top-width: 4px;
}

::ng-deep .backdrop{
  background-color: rgba(0, 0, 0, 0.8);
}