<section *ngIf="listDetails">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <div class="list-wrapper">
          <div class="back">
            <a mat-fab extended color="primary" href="/my-lists">
              <mat-icon>arrow_back</mat-icon>
              Back
            </a>
          </div>
          <img class="m-auto" src="{{listDetails.store_logo}}" alt="{{listDetails.store_name}} logo"><br />
          <div class="list-metadata mb-3">
            <div>
              <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="calendar_month"></mat-icon> {{ listDetails.created_at | date:'short' }}
            </div>
            <div>
              <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="person"></mat-icon> {{ listDetails.created_by_name }}
            </div>
          </div>
          <mat-divider class="mt-2 mb-4"/>
          <h3>
            Here&rsquo;s what&rsquo;s on your list:
          </h3>
          <div class="item-section" *ngFor="let aisle of aisleOrder">
            <ng-container *ngIf="groupedItems[aisle]?.length">
              <div class="aisle-header">
                <h3>{{ aisle }}</h3>
              </div>
              <div class="items-wrapper">
                <ul>
                  <li *ngFor="let item of groupedItems[aisle]">
                    {{ item.item.item_name }} ({{ item.quantity }}) <br />
                    Notes: {{ item.notes}} <br />
                    IsCompleted: {{ item.isCompleted}}
                  </li>
                </ul>
              </div>
            </ng-container>
          </div>
          <div class="delete-section">
          <button mat-fab extended color="accent" type="button" (click)="deleteList()">
            <mat-icon>delete</mat-icon>
            Delete list
          </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="spinner" *ngIf="!listDetails">
  <mat-spinner></mat-spinner>
</div>
