@use 'theme';
@layer base, material, overrides;

@font-face {
  font-family: 'cartoon';
  //src: url('assets/Biscuit\ Glitch.ttf') format('woff');
  //  src: url('assets//SuperMario256.ttf') format('woff');
  src: url('assets/Jumps\ Winter.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}

//Angular Material overrides
@layer overrides {
  //Remove button border radius
  .mat-mdc-extended-fab {
    --mdc-extended-fab-container-shape: 4px;
  }
}

*{
  font-family: 'cartoon', sans-serif !important;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-optical-sizing: auto;
  font-style: normal;
}

.mdc-snackbar__surface{
  padding: 0 !important;
}

.success-snackbar .mat-mdc-simple-snack-bar{
  background-color: darkgreen;
  color: #fff;
  border-radius: 0.5rem;
  .mdc-button__label{
    color: #fff;
  }
}

.failed-snackbar .mat-mdc-simple-snack-bar{
  background-color: darkred;
  color: #fff;
  border-radius: 0.5rem;
  .mdc-button__label{
    color: #fff;
  }
}
